@import "task-03_2.css";
* {
     font-family: 'Arial', 'Verdana', sans-serif;
    margin-top: 2.5%;
    margin-left: 10%;
   }
th {
    padding: 5px;
    font-size: 80%;
    background-color: #E3EAF3;
    color: #7586AE;
   }
td {
    padding: 20px;
    color: #4C637B;
}
.uneven {
    background-color:  #E8EDF4;
}
#even {
    background-color: #F2F6FA;
}
