body {
        margin-left: auto;
        margin-right: auto;
        width: 5em
    }
div {
    width: 200px;
    padding: 10px;
    border: 25px solid #c59ae9;
    margin: 0;
}
div {
    width: 160px;
    height: 160px;
    outline: 20px solid #c46aa6;
}
div {
    width: 200px;
    height: 200px;
    box-shadow: 6px 2px 42px 6px rgb(224, 119, 119), 
                0px 2px 42px 56px rgb(150, 130, 196),
                6px 2px 42px 6px rgb(201, 138, 226);
   }


